{% extends 'base.html' %}
{% load staticfiles %}
{% block usuario%}

<section class="content-header">
  <h1>
    Bienvenido @ {{usuario}}
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
  </ol>
</section>

<section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>Nuevas Solicitudes</p>
            </div>
          <a href="/solicitudes/nueva_solicitud/">  <div class="icon">
              <i class="fa fa-fw fa-calendar-plus-o"></i>
            </div>
            <a href="/solicitudes/nueva_solicitud/" class="small-box-footer">Ver + <i class="fa fa-arrow-circle-right"></i></a>
          </div></a>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53</h3>

              <p>Terminadas</p>
            </div>
            <div class="icon">
              <i class="fa fa-fw fa-calendar-check-o"></i>
            </div>
            <a href="/solicitudes/mis_solicitudes/" class="small-box-footer">Ver + <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>En proceso</p>
            </div>
            <div class="icon">
              <i class="fa fa-fw fa-calendar-minus-o"></i>
            </div>
            <a href="/solicitudes/mis_solicitudes/" class="small-box-footer">Ver + <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Rechazadas</p>
            </div>
            <div class="icon">
              <i class="fa fa-fw fa-calendar-times-o"></i>
            </div>
            <a href="/solicitudes/mis_solicitudes/" class="small-box-footer">Ver + <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->

      <!-- /.row (main row) -->

    </section>
{% endblock usuario%}
